@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cover-image-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-image {
  text-align: center;
  margin: auto;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 1200px;
  height: 300px;
}

.cover-search {
  position: absolute;
}

h3 {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.job-search {
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 0;
}

.location-search {
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0;
  border-left: 1px solid #adadad;
}

.location-search::placeholder {
  padding-left: 30px;
  font-size: 10px;
}

.job-search::placeholder {
  padding-left: 30px;
  font-size: 10px;
}

.search-btn {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  letter-spacing: 1.5px;
  padding-bottom: 8px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 0;
  font-weight: 600;
  color: #fff;
  background-color: #7954c7;
  font-size: 8px;
}

.search-icon {
  position: absolute;
  color: #adadad;
  margin-top: 5px;
  margin-left: 5px;
}

.location-icon {
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  color: #adadad;
}

.profile-card {
  position: absolute;
  margin-top: 500px;
  margin-right: 600px;
  width: 250px;
  height: 300px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 20px;
}


.profile-completed {
  font-size: 10px;
}

.description {
  display: flex;
}

.description-text {
  margin-left: 5px;
  margin-top: 25px;
}

.user-icon {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #adadad;
}

.user-fontawesome {
  font-size: 32px;
  margin-left: 8px;
  margin-top: 8px;
}

.completed-updated {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.heading-profile {
  margin-top: 10px;
  margin-left: 20px;
  color: #7954c7;
}

.updated-today {
  font-size: 8px;
  margin-left: 45px;
}

.profile-progress {
  margin-left: 20px;
  width: 200px;
}
.complete-profile-now {
  margin-top: 10px;
  margin-left: 20px;
  height: 50px;
  width: 200px;
  background-color: #ffefef;
  border-radius: 5px;
}

.comp-prof {
  font-size: 12px;
  padding: 5px;
}

.oppo {
  font-size: 8px;
  line-height: 1.6;
  padding: 5px;
  margin-top: -7px;
}

.prof-imp {
  margin-left: 20px;
  margin-top: 10px;
}

.prof-search {
  margin-left: 20px;
  font-size: 8px;
  margin-top: -5px;
}

.count{
  display: flex;
}
.search-apperances {
  margin-top: 10px;
  margin-left: 20px;
  height: 20px;
  width: 90px;
  background-color: #adadad;
  font-size: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicks-on-profile {
  margin-top: 10px;
  margin-left: 20px;
  height: 20px;
  width: 90px;
  background-color: #adadad;
  font-size: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-alert {
  position: absolute;
  margin-top: 280px;
  margin-left: 400px;
  width: 600px;
  height: 80px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #f2f2f2;
  border-radius: 20px;
  display: flex;
}
.specific-job{
  margin-left: 20px;
  margin-top: 10px;
}

.suitable-job{
  margin-left: 20px;
  padding-top: -5px;
  font-size: 10px;
}

.job-alert-btn{
  display: flex;
  margin-top: 25px;
  margin-left: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  color: #fff;
  background-color: #7954c7;
}