* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 250px;
}

.profile-viewed {
  margin-left: 100px;
  height: 50px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #f2f2f2;
}

.cv-shortlisted {
  height: 50px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 100px;
  box-shadow: 5px 5px 5px #f2f2f2;
}
